
<form action="/answer" method="get">
  <p class="subheader">Ask your coach anything:</p>
  <div class="input-button">
    <input class="input" type="text" name="question">
    <input class="button" type="submit" value="Ask">
  </div>
</form>


# Si le message est I am going to work, le coach répondra Great!.
# Si le message contient un point d’interrogation ? à la fin, le coach répondra Silly question, get dressed and go to work!.
# Sinon, le coach répondra I don't care, get dressed and go to work!.
